.header {
	text-align: center;
}
.error_msg {
	text-align: center;
	color: rgb(202, 60, 60); /* this is a maroon */
}
.content-centre {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 550px;
	margin-bottom: 50px;
}
.hidden {
	display: none;
}
.pure-form-aligned {
	text-align: center;
}
.pure-form-aligned .pure-controls {
	margin: 0 auto;
}

.jKnob {
	float: right;
	width: 175px;
	margin-top: 10px;
}

.iKnob {
	text-align: center;
	margin-top: 10px;
}
